.Posts-post-button {
  font-size: 1.8em;
  padding: 0.5em 1.5em;
  background-color: rgba(0,0,0,0.1);
  border-radius: 10px;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.Posts-post-button:hover {
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.Posts-forum-post {
  color: rgba(0, 0, 0, 1);
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.Posts-forum-post:hover {
  color: rgba(0, 0, 0, 1);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.Posts-avatar-wrapper {
  width: 6em;
}

.Posts-avatar-wrapper > img {
  width: 6em;
  border-radius: 50%;
}

.Posts-avatar-name {
  text-align: center;
}

@media (max-width: 40em) {
  .Posts-avatar-wrapper {
    padding-bottom: 10px;
  }
}

@media (min-width: 40em) {
  .Posts-forum-post {
    display: flex;
  }

  .Posts-avatar-wrapper {
    margin-right: 20px;
  }

  .Posts-avatar-wrapper > img {
    align-self: flex-start;
  }
}
