.avatar {
  width: 12em;
  border-radius: 50%;
}

.avatar-placeholder {
  width: 12em;
  height: 12em;
  border: 1px dashed #333;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
